<ngx-spinner size="medium" color="white" type="ball-scale-multiple"></ngx-spinner>

<!-- start feature-itm block -->
<div class="feature-itm-block pt-30 pb-30">
	<div class="podct-itm desktop-only">
		<div class="row no-gutters">
			<div class="col-xl-3 col-lg-3 col-md-4">
				<div class="feature-itm-img">
					<img class="rounded" height="250" width="250" src="{{podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg'}}" alt="" />
					<!-- <img class="rounded" height="250" width="250" src="{{'assets/img/no-image-2.jpg'}}" alt="" /> -->
				</div>
			</div>
			<div class="col-xl-9 col-lg-9 col-md-8">
				<div class="feature-itm-txt">
					<h2>{{podcastDetail?.name}}</h2>
					<p>{{podcastDetail?.description}}</p>
<!--					<a [socialShare]="'fb'" class="btn btn-invert">Facebook Share</a>-->
					<div class="row  no-gutters">
						<div class="col-xl-4 col-lg-5 col-md-6" style="text-align: left">
							<share-buttons theme="modern-light" show="3" url="{{ this.route.url + '/?redirectTo=directory/'+ this.id  }}" [include]="['facebook','twitter','linkedin']"></share-buttons>
						</div>
						<div class="col-sm-4">
							<a *ngIf="podcastEpisodes.length != 0" (click)="playAllEpisode()" id="play_all_btn"  class="btn btn-invert">Listen All</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="podct-itm mobile-only">
		<div class="row no-gutters">
			<div class="col-xl-4 col-lg-5 col-md-6">
				<div class="feature-itm-img">
					<div>
						<img class="rounded mr-4" height="150" width="150" src="{{podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg'}}" alt="" />
						<!-- <img class="rounded pr-3 mr-2" height="150" width="150" src="{{'assets/img/no-image-2.jpg'}}" alt="" /> -->
					</div>
					<div>
						<h2>{{podcastDetail?.name}}</h2>
						<a (click)="playAllEpisode()" id="play_all_btn_mobile" class="btn btn-invert">Listen All</a>
					</div>
				</div>
			</div>
			<div class="col-xl-8 col-lg-7 col-md-6">
				<div class="feature-itm-txt">
					<p>{{podcastDetail?.description}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end feature-itm block -->
<!-- start episodes-showcase block -->

<div class="episode-showcase pb-40 desktop-only">
	<div class="section-title blue-border-tp pt-30 pb-20">
		<div class="sec-titl-txt mblk">
			<h3>Most Recent Episodes</h3>
		</div>
	</div>

	<div class="epsod-itm pt-25 pb-25" *ngIf="podcastEpisodes.length == 0 && !isLoading">
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-12 col-lg-12 col-md-12">
				<div class="epsod-txt no-epsod-found">
					<div class="no-epsod-img-area">
						<img src="./assets/img/no-episode-mic.png" class="img-fluid" alt="">
					</div>
					<h2>No Episodes Found</h2>
					<p>
						It Seems like there is no Episodes Available.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="epsod-itm pb-15" *ngFor="let episode of podcastEpisodes; let i = index" [ngClass]="{'pt-15' : i !== 0}" >
		<div class="row align-items-center">
			<div class="col-xl-7 col-7 col-lg-7 col-md-7">
				<div class="epsod-txt">
					<span>{{episode.pubDate | date}}</span>
					<h2>{{episode.title}}</h2>
					<p>{{episode.description}}</p>

					<div class="epsode-btn-grp">
						<a id="play_mob_{{episode.id + '_' + i}}" (click)="setSource(episode.id + '_' + i, episode.url, episode.title, episode.image ? episode.image : podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg', true)"  class="btn btn-invert episode-play-btn" >
							<i class="fa fa-play"></i>Listen
							<code id="duration-mob-{{episode.id + '-' + i}}">{{updateTime(episode['duration'])}}</code>
						</a>
						<a style="display:none" id="pause_mob_{{episode.id + '_' + i}}" class="btn episode-pause-btn" (click)="setSource(episode.id + '_' + i, episode.url, episode.title, episode.image ? episode.image: podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg', true)">
							<i class="fa fa-pause"></i> Pause
							<code id="duration-mob-{{episode.id + '-' + i}}">{{updateTime(episode['duration'])}}</code>
						  </a>
					  	<a *ngIf="!checkPlaylistClick(episode.id + '_' + i)" (click)="addToPlaylist(episode.id + '_' + i,episode.url,episode.title,episode.image ? episode.image : podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg')" class="btn btn-invert ml-2">
							<i class="fas fa-plus-circle"></i>
							Playlist
						</a>
						<a *ngIf="checkPlaylistClick(episode.id + '_' + i)" (click)="removeFromPlaylist(episode.id + '_' + i)" class="btn btn-invert ml-2">
							Added
						</a>
					</div>

				</div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-5">
				<div class="epsod-img">
					<img src="{{episode.image ? episode.image : 'assets/img/no-image-2.jpg'}}" alt="" />

				</div>
			</div>
		</div>
	</div>
	<div class="section-btm-lnk text-right pt-15 pb-15">
		<button *ngIf="this.submitted === true" type="submit" class="btn-lod-mor">
			<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> loading...
		</button>
		<a href="javascript:void(0);" *ngIf=" page !== lastPage && isloadmore==true && this.submitted === false && this.podcastEpisodes.length > 0" id="more-podcast-episode-btn" class="btn-lod-mor" (click)="loadMorePodcastEpisod()" class="btn-lod-mor">load more</a>
	</div>
</div>

<div class="episode-showcase pt-20 pb-40 mobile-only">
	<div class="section-title blue-border-tp plyr-border-top pt-45">
		<div class="sec-titl-txt mblk">
			<h3>Most Recent Episodes</h3>
		</div>
	</div>

	<div class="epsod-itm pb-15" *ngFor="let episode of podcastEpisodes; let i = index" [ngClass]="{'pt-15' : i !== 0}">
		<div class="row align-items-center">
			<div class="col-xl-7 col-7 col-lg-7 col-md-7">
				<div class="epsod-txt">
					<span>{{episode?.pubDate | date}}</span>
					<h2>{{episode?.title}}</h2>
					<p>{{episode?.description}}</p>
				</div>
			</div>
			<div class="col-xl-5 col-lg-5 col-md-5 col-5">
				<div class="epsod-img">
					<img src="{{episode.image ? episode.image : 'assets/img/no-image-2.jpg'}}" alt="" />
					<!-- <img class="rounded" src="{{'assets/img/no-image-2.jpg'}}" alt="" /> -->
				</div>
			</div>
			<div class="col-sm-12">
				<div class="epsode-btn-grp">
					<a id="play_mob_{{episode.id + '_' + i}}" (click)="setSource(episode.id + '_' + i, episode.url, episode.title, episode.image ? episode.image?.link : podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg', true)"  class="btn btn-invert episode-play-btn" >
						<i class="fa fa-play"></i>Listen
						<code id="duration-mob-{{episode.id + '-' + i}}">{{updateTime(episode['duration'])}}</code>
					</a>
					<a style="display:none" id="pause_mob_{{episode.id + '_' + i}}" class="btn episode-pause-btn" (click)="setSource(episode.id + '_' + i, episode.url, episode.title, episode.image ? episode.image : podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg', true)">
						<i class="fa fa-pause"></i> Pause
						<code id="duration-mob-{{episode.id + '-' + i}}">{{updateTime(episode['duration'])}}</code>
					  </a>
				  <a *ngIf="!checkPlaylistClick(episode.id + '_' + i)" (click)="addToPlaylist(episode.id + '_' + i,episode.url,episode.title,episode.image ? episode.image : podcastDetail.image ? podcastDetail.image : 'assets/img/no-image-2.jpg')" class="btn btn-invert ml-2">
						<i class="fas fa-plus-circle"></i>
						Playlist
					</a>
					<a *ngIf="checkPlaylistClick(episode.id + '_' + i)" (click)="removeFromPlaylist(episode.id + '_' + i)" class="btn btn-invert ml-2">
						Added
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="section-btm-lnk text-right pt-15 pb-15">
		<button *ngIf="this.submitted === true" type="submit" class="btn-lod-mor">
			<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> loading...
		</button>
		<a href="javascript:void(0);" *ngIf=" page !== lastPage && isloadmore==true && this.submitted === false && this.podcastEpisodes.length > 0" class="btn-lod-mor" (click)="loadMorePodcastEpisod()" id="more-podcast-episode-btn" class="btn-lod-mor">load more</a>
	</div>
</div>
<!-- end episodes-showcase block -->
<!-- start recent podcasts block -->
<div  *ngIf="podcastList.length != 0" class="recent-podcasts-block pb-20">
	<div class="section-title b-none pb-30">
		<div class="sec-titl-txt">
			<h3>Related Podcasts</h3>
		</div>
	</div>
	<div class="reltd-podcasts-wpr">
		<div class="row">
			<div class="col-xl-6" *ngFor="let podcast of displayPodcastList">
				<a href="javascript:void(0);" (click)="redirectTo(podcast.slug)">
					<div class="reltd-pod-itm mb-30">
						<div class="reltd-pod-itm-contnt">
							<div class="pod-itm-img">
								<img src="{{podcast.image ? podcast.image : 'assets/img/no-image-2.jpg'}}" style="width: 80px;" alt="" />
								<!-- <img src="{{'assets/img/no-image-2.jpg'}}" (click)="redirectTo(podcast.podcastId)" style="width: 80px;" alt="" /> -->
							</div>
							<div class="pod-itm-txt">
								<span>{{podcast?.createdAtTimestamp * 1000 | date}}</span>
								<h5>{{podcast?.name}}</h5>
							</div>
						</div>
						<div class="reltd-pod-itm-icn">
							<a href="javascript:void(0)" (click)="redirectTo(podcast.slug)">
								<img src="assets/img/icon/blur-play-icnn.svg" alt=""/>
							</a>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- end recent podcasts block -->
