
		<!-- start header -->
		<!-- <header class="header-area white-bg header-padding">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div
						class="col-xl-6 col-lg-6 col-md-6 col-6 text-left d-flex justify-content-between"
					>
						<div class="bck-home-btn">
							<a href="index.html"
								><img src="assets/img/icon/tphm.png" alt="" /><span
									>Back to Home</span
								></a
							>
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-6 col-6 text-right">
						<div class="home-logo prod-pag">
							<a href="#"><img src="assets/img/logo/homelogo.svg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</header> -->
		<!-- end header -->
		<!-- main content -->

		<section class="main-content revised-pg">
			<div class="container">
				<div class="row">
					<div class="col-xl-8 col-lg-12">
						<!-- start top banner -->
						<div class="notify-hero-banner pt-40">
							<div class="row">
								<div class="col-xl-12">
									<div class="hro-banner-img">
										<img
											class="desktop-only"
											src="assets/img/bg/banner1.svg"
											alt=""
										/>
										<img
											class="mobile-only"
											src="assets/img/banner/Rectangle 103.png"
											alt=""
										/>
									</div>
								</div>
							</div>
						</div>
						<!-- end top banner -->
						<!-- start podcasts directory-->
						<div class="podcasts-directory-blk pt-40">
							<div class="row">
								<div class="col-xl-7 col-lg-7 col-md-7">
									<div class="hero-content prod-page">
										<h2>
											<img src="assets/img/icon/mic.svg" alt="" /> Podcasts
											Directory
										</h2>
										<p>
											Stream the best podcasts from your favorite stations
										</p>
									</div>
								</div>
								<div class="col-xl-5 col-lg-5 col-md-5">
									<div class="chos-station">
										<div class="dropdown">
											<button
												class="dropdown-toggle"
												type="button"
												id="1dropdownMenuButton"
												data-toggle="dropdown"
												aria-haspopup="true"
												aria-expanded="false"
											>
												<span>More Stations</span>
												<span><i class="fa fa-angle-down"></i></span>
											</button>
											<div
												class="dropdown-menu"
												aria-labelledby="1dropdownMenuButton"
											>
												<a class="dropdown-item" href="#">Action</a>
												<a class="dropdown-item" href="#">Another action</a>
												<a class="dropdown-item" href="#"
													>Something else here</a
												>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end podcasts directory -->
						<!-- start Popular Podcasts -block -->
						<div class="popular-podcasts-block blue-border-btm pb-20">
							<div class="section-title pt-30 mb-40">
								<div class="sec-titl-txt">
									<h3 class="primary-color">Popular Podcasts</h3>
								</div>
							</div>

							<div class="bx-lnk-list-wpr">
								<div class="row">
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/thumbnail/popular-podcast-thum(3).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/thumbnail/popular-podcast-thum(2).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/thumbnail/popular-podcast-thum(3).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/thumbnail/popular-podcast-thum(4).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section-btm-lnk pt-15 pb-15">
								<a href="#" class="blue-color"
									>View All Popular Podcasts <i class="fa fa-angle-right"></i
								></a>
							</div>
						</div>
						<!-- end Popular Podcasts -block -->
						<!-- start featured-podcasts-block -->
						<div class="featured-podcasts-block pb-55">
							<div class="section-title pt-30 mb-40">
								<div class="sec-titl-txt">
									<h3 class="primary-color">Featured Podcasts</h3>
								</div>
								<div class="feat-src-inpt hro-src-inpt">
									<input type="text" placeholder="Search" />
									<img src="assets/img/icon/src-sm-icn.svg" alt="" />
								</div>
							</div>

							<div class="bx-lnk-list-wpr">
								<div class="row">
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(4).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(5).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(6).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(7).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(8).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(9).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(10).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(11).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(12).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(13).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(14).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(15).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(16).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(4).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(10).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-3 col-md-4 col-6">
										<div class="bx-lnk-itm pb-20">
											<img
												src="assets/img/feture-prod-img/fet-img(4).svg"
												alt=""
											/>
											<div class="bx-itm-txt">
												<p>
													Joy Time In His Presence W…
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="section-btm-lnk text-center pt-15 pb-15">
								<a href="#" class="btn-lod-mor">load more</a>
							</div>
						</div>
						<!-- end featured-podcasts-block -->
					</div>
					<div class="col-xl-4 col-lg-12">
						<div class="add-bnr-wpr">
							<div class="ad-banner-wpr pt-40">
								<img src="assets/img/banner/Rectangle 103.png" alt="" />
							</div>
							<div class="ad-banner-wpr pt-50">
								<img src="assets/img/banner/Rectangle 103.png" alt="" />
							</div>
							<div class="ad-banner-wpr pt-50">
								<img src="assets/img/banner/Rectangle 15.svg" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--  main content -->
		<!-- start newsletter area -->
		<!-- <footer
			class="newsletter-area white-bg pt-60"
			style="background-image: url('../assets/img/illistration/t-tm.svg');"
		>
			<div class="container">
				<div class="row">
					<div class="col-xl-8 offset-xl-2 col-md-12">
						<div class="nes-ltr-frm-wpr text-center pb-100">
							<h2>Get latest news from us!</h2>
							<div class="nws-ltr-inpt-bx mt-50">
								<input type="email" placeholder="email@email.com" />
								<input type="submit" value="Send" />
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xl-6 col-lg-4 col-md-12">
						<div class="ftr-title pb-80">
							<div class="ftr-logo">
								<img src="assets/img/logo/homelogo.svg" alt="" />
								<p>Music, radio and podcasts, all free.</p>
							</div>
							<p>
								© 2020 Joy Online | All rights reserved.
							</p>
							<div class="powered-by">
								<span>Powered by </span>
								<img src="assets/img/icon/elepent-svg.svg" alt="" />
								<span>Atuwa Digital</span>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-12">
						<div class="ftr-socl-lnk pb-80">
							<a href="#"><img src="assets/img/icon/social(1).svg" alt="" /></a>
							<a href="#"><img src="assets/img/icon/social(2).svg" alt="" /></a>
							<a href="#"><img src="assets/img/icon/social(3).svg" alt="" /></a>
							<a href="#"><img src="assets/img/icon/social(4).svg" alt="" /></a>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-12">
						<div class="app-lnk mb-45">
							<a href="#"
								><img src="assets/img/icon/storedownload1.svg" alt=""
							/></a>
							<a href="#"
								><img src="assets/img/icon/storedownload2.svg" alt=""
							/></a>
						</div>
						<div class="mobile-only"></div>
						<div class="policy-lnk pb-80">
							<a href="#">Privacy Policy</a>
							<a href="#">Terms of Use</a>
						</div>
					</div>
				</div>
			</div>
		</footer> -->
		<!-- end newsletter area -->
		<!-- JS here -->
	

