  <div class="add-bnr-wpr">
    <div class="ad-banner-wpr pt-40">
      <div id="apn_sidebar1">
        <script type="text/javascript">
          apntag.anq.push(function() {
              apntag.showTag('apn_sidebar1');
          });
        </script>
      </div>
    </div>
    <div class="ad-banner-wpr pt-50">
      <img  src="assets/img/banner/Rectangle 103.png" alt="" />
    </div>
    <div class="ad-banner-wpr pt-50">
      <img  src="assets/img/banner/Rectangle 15.svg" alt="" />
    </div>
  </div>
