// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.newsletter-area {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10%;
    background-color: $white-bg;

    .nes-ltr-frm-wpr {
        h2 {

            font-weight: 500;
            font-size: $font_xl_x2;
            text-align: center;
            color: $color-dark;
        }

        .nws-ltr-inpt-bx {
            position: relative;

            input[type="email"] {

                font-weight: normal;
                line-height: 0;
                color: $color-light;
                border-radius: 15px;
                background: $main-bg;
                border: none;
                padding: 14px 38px;
                margin: 0;
                height: 120px;
                width: 650px;
                font-size: $font_md_x2;

                &::-moz-placeholder {
                    color: $color-dark;
                    font-size: $font_sm_x2;
                    opacity: 1;
                }

                &::placeholder {
                    color: $color-dark;
                    font-size: $font_sm_x2;
                    opacity: 1;
                }
            }




            input[type="submit"] {
                width: 237px;
                height: 63px;
                border-radius: 15px;
                background: $color-red;
                border: none;
                position: absolute;
                right: 50px;
                top: 50%;
                transform: translateY(-50%);
                color: $color-white;

                font-weight: normal;
                font-size: $font_md_x1;
                text-align: center;
                color: $color-white;
            }
        }
    }

    .ftr-title {

        p {

            font-weight: normal;
            font-size: $font_sm_x3;
            line-height: 1.2;
            text-align: left;
            color: $color-black;
            margin: 0;
            display: inline-block;

        }

        .ftr-logo {
            display: flex;
            margin-bottom: 14px;
            align-items: flex-end;


            img {
                margin-right: 10px;
            }

        }
    }

    .ftr-socl-lnk {
        text-align: center;

        a {
            margin: 0 10px;
        }
    }

    .app-lnk {
        display: flex;
        justify-content: space-evenly;
    }

    .policy-lnk {
        display: flex;
        justify-content: space-between;




        a {

            font-weight: normal;
            font-size: $font_md_x2;
            line-height: 1.2;
            text-align: left;
            color: $color-black;
            border-right: 1px solid $color-dark;
            padding-right: 10px;

            &:hover {
                color: $color-primary;
            }

            &:last-child {
                border: none;
            }
        }
    }

    .powered-by {
        text-align: center;
        margin: 20px 0px;
        display: inline;
        margin: 0;

        img {
            height: 30px;
            width: 30px;
            background: $color-blue;
            padding: 5px;
            border-radius: 17px;
            -webkit-border-radius: 17px;
            -moz-border-radius: 17px;
            -ms-border-radius: 17px;
            -o-border-radius: 17px;
            height: 30px;
            width: 30px;

            padding: 5px;
            border-radius: 17px;
        }

        span {
            font-weight: normal;
            margin: 0 10px;
            font-size: $font_sm_x3;
            line-height: 1;
            text-align: center;
            color: $color-blue;
            margin: 0 10px;
        }


    }


}