
<app-header></app-header>
<section class="main-content revised-pg">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-12">
                <div class="notify-hero-banner pt-40">
                    <div class="row">
                        <div class="col-xl-12">
                            <app-lead-addbanner></app-lead-addbanner>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <div class="col-xl-4 col-lg-12">
                <app-sidebar></app-sidebar>
            </div>
        </div>
    </div>
</section>
<app-player></app-player>
<app-footer></app-footer>

<a id="scrollUp" style="position: fixed; z-index: 2147483647; display: block;"><i class="fa fa-arrow-up"></i></a>
