<footer
class="newsletter-area white-bg pt-60"
style="background-image: url('../assets/img/illistration/t-tm.svg');"
>
<div class="container">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-md-12">
            <div class="nes-ltr-frm-wpr text-center pb-100">
                <h2>Get latest news from us!</h2>
                <div class="nws-ltr-inpt-bx mt-50">
                    <input type="email" placeholder="email@email.com" />
                    <input type="submit" value="Send" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-lg-4 col-md-12">
            <div class="ftr-title pb-80">
                <div class="ftr-logo">
                    <img src="assets/img/logo/homelogo.svg" alt="" />
                    <p>Music, radio and podcasts, all free.</p>
                </div>
                <p>
                    © 2020 Joy Online | All rights reserved.
                </p>
                <div class="powered-by">
                    <span>Powered by </span>
                    <img src="assets/img/icon/elepent-svg.svg" alt="" />
                    <span>Atuwa Digital</span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="ftr-socl-lnk pb-80">
                <a href="javascript:void(0)"><img src="assets/img/icon/social(1).svg" alt="" /></a>
                <a href="javascript:void(0)"><img src="assets/img/icon/social(2).svg" alt="" /></a>
                <a href="javascript:void(0)"><img src="assets/img/icon/social(3).svg" alt="" /></a>
                <a href="javascript:void(0)"><img src="assets/img/icon/social(4).svg" alt="" /></a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="app-lnk mb-45">
                <a href="javascript:void(0)"
                    ><img src="assets/img/icon/storedownload1.svg" alt=""
                /></a>
                <a href="javascript:void(0)"
                    ><img src="assets/img/icon/storedownload2.svg" alt=""
                /></a>
            </div>
            <div class="mobile-only"></div>
            <div class="policy-lnk pb-80">
                <a href="javascript:void(0)">Privacy Policy</a>
                <a href="javascript:void(0)">Terms of Use</a>
            </div>
        </div>
    </div>
</div>
</footer>
