<footer class="newsletter-area white-bg" style="background-image: url('../assets/img/illistration/t-tm.svg');" >
  <div class="container">
      <div class="row f-footer">
          <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="ftr-title">
                  <div class="powered-by">
                      <span>Powered by </span>
                      <img src="assets/img/icon/elepent-svg.svg" alt="" />
                      <span>Atunwa Digital</span>
                  </div>
              </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6" *ngIf="nav.visible">
            <div class="mobile-only"></div>
            <ul class="policy-lnk">
                <li><a id="privacy-link" target="_blank" href="javascript:void(0)">Privacy Policy</a></li>
                <li><a id="terms-link" target="_blank" href="javascript:void(0)">Terms of Use</a></li>
            </ul>
          </div>
      </div>
  </div>
</footer>
