<header class="header-area white-bg header-padding">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-6 text-left d-flex justify-content-between">
        <div class="bck-home-btn">
          <a routerLink="/">
            <img src="assets/img/icon/tphm.png" alt="" />
            <span>Back to Home</span>
          </a>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-6 text-right">
        <div class="home-logo prod-pag">
          <a routerLink="/"><img src="assets/img/logo/homelogo.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</header>
