<header class="header-area white-bg" *ngIf="nav.visible">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-xl-6 col-lg-6 col-md-6 col-6 text-left d-flex justify-content-between">
        <div class="bck-home-btn" *ngIf="router.url === '/'">
          <a id="home-link" href="javascript:void(0);">
            <i class="fa fa-home a-back"></i>
            <span>Back to Home</span>
          </a>
        </div>
        <a routerLink="/" *ngIf="router.url !== '/'">
          <i class="fa fa-angle-left mr-1 fa-size"></i>
          <span> Back </span>
        </a>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-6 text-right">
        <div class="home-logo prod-pag">
          <span class="dev-env" *ngIf="checkEnv === true" ><b>DEV</b></span>
          <a routerLink="/"><img class="header-logo" src="" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</header>
